@(passwordForm: Form[PasswordChangePOJO])
@import helper._
@main("Change Password") {
     <form>
     	 @if(flash.contains("wrongPw")){
	  		<p class="error">
	  			@flash.get("wrongPw")
	  		</p>
	  	 }
	  	 @if(flash.contains("noPw")){
	  		<p class="error">
	  			@flash.get("noPw")
	  		</p>
	  	 }
	     <fieldset>
	     	<dl>
	     		<dt>Employee Number</dt> 
	     		<dd>@passwordForm("employeeNumber").value</dd>
	     	</dl>
	     	<dl>
	     		<dt>User Name</dt> 
	     		<dd>@passwordForm("userName").value</dd>
	     	</dl>
            @inputText(passwordForm("oldPassword"), 
            '_label -> "Old Password", 
            '_showConstraints -> false)
            @inputText(passwordForm("newPassword"), 
            '_label -> "New Password", 
            '_showConstraints -> false)
	     </fieldset>
	
	     <div>
	     	<button type="submit" formmethod="post" 
	     	formaction="@routes.EmployeeController.changePassword()">
	     	Submit</button>
	     	<a href="@routes.MainController.returnToDashboard()"><button type="button">Cancel</button></a>
	     </div>
	 </form>
}