body { font-family: Helvetica, Arial, sans-serif; background-color:azure; }
table { border-collapse: collapse; }
td, th { padding: .3em; border: 1px #000000 solid; }
th { background: #00CCFF; font-weight: bold; }
.error { color: #FF0000; }
.dashButton { width: 100%; }