@(ct: CaseTest, resultsForm: Form[EnterResultsPOJO])
@import helper._

@main("Enter Comments") {
    <form>
		<div>
			@ct.getTestNumber(), 
			@ct.getTestName()
		</div>
		<div>
		---------------------------------------------------------------------------------------------
		</div>
		<div>
			<input type="hidden" name="caseTestPK" value="@resultsForm("caseTestPK").value">
			<input type="hidden" name="results" value="@resultsForm("results").value">
			<span>@ct.getCaseNumber()</span>
			<span>@ct.getCaseSubjectLast(), @ct.getCaseSubjectFirst()</span>
			<span>@ct.getCaseSampleType() </span>
			<span>@ct.getTestRespicture()</span>
			<span>@resultsForm("results").value</span>
			<span>@ct.getTestUnits()</span>
		</div>
		<div>
			<span>COL: @ct.getSampleDateCollected(),@ct.getSampleTimeCollected()</span>
			<span>(ID=@ct.getCaseOtherId())</span>
			<span>(@ct.getClientNumber())</span>
			<span>@ct.getClientFirstName() @ct.getClientLastName() @ct.getClientCompanyName()</span>
			<span>@ct.getClientOfficePhone()</span>
		</div>
		<br />    
 		@textarea(resultsForm("actualComment"),
		'_label -> "Actual Comment", 
		'cols -> 70, 
		'rows -> 4)   
		@textarea(resultsForm("informationalComment"),
		'_label -> "Informational (Default) Comment",
		'cols -> 70, 
		'rows -> 4)		

		<div>
		<button type="submit" formmethod="post" 
		formaction="@routes.WorksheetController.save(ct.getTestNumber(), ct.getCaseTestPK())">
		Save</button>
		
		</div> 
 	</form>    
}